.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-nav ul {
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav h3 {
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 400;
}

.footer-nav li a {
    color: #ffffff;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.newsletter-form input {
    border-radius: 1.875rem;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
    border: none;
}

.footer-social h3 {
    margin-bottom: 1rem;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;
}

.footer-social li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social li a:hover img {
    opacity: 0.7;
}

.footer-social span {
    margin-bottom: 1rem;
    display: block;
}

.footer-copy {
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0;
    border-top: 0.25px solid #ccc;
    max-width: 1360px;
    margin: 0 auto;
}